<div class="contenedor" *ngIf="esBoton">{{name}}
  <button class="button" (click)="onClickFalse()"> {{nameBoton}} </button>
</div>

<div *ngIf="!esBoton">
  <br>
  <button class="button" (click)="onClickTrue()"> {{nameBoton}} </button>
</div>


<router-outlet></router-outlet>
